.wrap {
  display: flex;
  height: 100vh;
  min-width: 350px;
  position: fixed;
  left: 0;
  top: 0;
  transition: all 0.5s;
}
.nav {
  background: #39383A;
  width: 350px;
}
.logo {
  padding: 1rem 2.5rem 2rem;
  border-bottom: 1px solid rgb(197, 197, 197);
  font-size: 2rem;
  color: #fff;
}
ul li {
  padding: 1.5rem 0.5rem;
}
ul li a {
  text-decoration: none;
  color: #6c6c6c;
  font-size: 1.2rem;
  padding-left: 2.3rem;
  transition: all 0.3s;
}
ul li a svg {
  margin-right: 1rem;
}

.mobile {
  display: none;
  width: 30px;
  height: 90px;
  background: #39383A;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: absolute;
  bottom: 15%;
}

.mobile.open {
  left: 310px;
}

.close {
  left: 310px;
}

@media screen and (max-width: 1223px) {
  .wrap {
    min-width: 310px;
  }
  .nav {
    width: 310px;
  }
  .wrap.open {
    left: 0;
  }
  .wrap.wrapClose {
    left: -310px;
  }
  .mobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mobile svg {
    color: #fff;
    font-size: 2rem;
  }
}
